body{
    background-color: #91C8E4;
    font-family: 'Roboto Slab', cursive;
    font-size: 1.5rem;
    text-align: center;
}


h1{
    color: #146C94;
    font-family: 'Dancing Script', cursive;
    font-family: 'Roboto Slab', serif;
    font-size: 230%;
    margin: 0 auto 0;
}

.heading h2{
    color: #115879;
    font-family: cursive;
    font-size: 98%;
    margin-top: 0;
}

p{
    display: inline-block;
    font-weight: bold;
    width: 60%;
}

.banner{
    position: relative;
    left: 5%;
    top: 9rem;
    width: 50%;
}

form{
    background-color: #1158791f ;
    border: 3px;
    border-left: #73a9ad65;
    border-top:#73a9ad65;
    border-right: #f7f5f265;
    border-bottom: #f7f5f265;
    border-radius: 2rem;
    border-style: outset;
    display: inline-block;
    float: left;
    font-size: 70%;
    margin: 0 0 0 1.3rem;
    padding: 4rem 0.2rem 3rem 0.5rem;
    text-align: left;
    width: 45%;
}

form .input{
    border: none;
    border-radius: 9px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Roboto Slab', serif;
    font-size: 90%;
    height: 1.7rem;
    margin: 0.7rem 0;
    margin-left: 1rem;
    padding: 0 4px;
    width: 61%;
}

input::placeholder{
    font: inherit;
    margin: 7px;
    text-align: center;
}

form textarea{
    font-family: 'Dancing Script', cursive;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Roboto Slab', serif;
    font-size: 100%;
    margin: 0.7rem 0;
    margin-left: 1.6rem;
    border-radius: 15px;
    margin: 0.7rem auto 1px 0;
    padding: 1.3rem 7px 10px;
    width: 85%;
}

form textarea::placeholder{
 text-align: center;  
}

.required::after{
    content: '*';
}

form .button{
    border: none;
    border-radius: 12px;
    box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    color: #146C94;
    cursor: pointer;
    font: inherit;
    width: 6rem;
    height: 3rem;
}

form .button:hover{
   background-color: #91C8E4;
   color: #F9F5F6;
}

form .button:active{
    box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}



            /* MEDIA QUERIES */

        /* Tablets */
@media screen and (max-width:798px) {
    
    body{
        font-size: 1.2rem;
    }
    
    .banner{
        left: 28%;
        top: 18rem;
        width: 52%;
    }

    form{
        font-size: 51%;
        margin-left: 6%;
        width: 40%;
    }
}


        /* Mobiles */
@media screen and (max-width:480px) {

    body{
        font-size: 1.1rem;
    }

    p{
        font-size: 1rem;
        width: 80%;
    }
    
    .banner{
        position: static;
        margin: 1rem;
        width: 80%
    }

    form{
        font-size: 65%;
        margin-left: 3%;
        width: 88%;
    }

    form .button{
        border-radius: 6px;
        width: 4rem;
        height: 2rem;
    }

    form .button:focus{
        background-color: #91C8E4;
        color: #F9F5F6;
    }
}